<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
</head>

<body>
<!-- Navigation bar -->
<%- include ('modules/navbar')%>

<!-- Section1 -->
<section class="center">
    <h2 class="title">Fast food</h2>
    <div class="accordion" id="accordionExample">
        <div class="card collapseItem">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn-block text-left foodbtn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Hamburger
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/3521394/57c421791ab9bda81fc043fd0ddbad17-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Double Cheeseburger</h5>
                            <p class="card-text">Price, info</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/3806315/b5f2dac58e3f486cd25c304c70982c91-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Big Teisty</h5>
                            <p class="card-text">Price, info</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/3805363/235b009729ac2384221c28f4e159802e-450x300.jpeg " class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Qazan</h5>
                            <p class="card-text">Price, info</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/3508859/9a6d6f9998ade80636a503cd76d1b863-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Big Mac</h5>
                            <p class="card-text">Price, info</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card collapseItem">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn-block text-left collapsed foodbtn" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Pizza
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">

                    <div class="card" style="width: 18rem;">
                        <img src="https://dodopizza-a.akamaihd.net/static/Img/Products/da0a83ee1bd248a28afe9565b59e1749_366x366.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Classic</h5>
                            <p class="card-text">Price, info</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://dodopizza-a.akamaihd.net/static/Img/Products/ba487bcb91034c02a216557d7f816ff4_366x366.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Cheese</h5>
                            <p class="card-text">Price, info</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://dodopizza-a.akamaihd.net/static/Img/Products/d1d22a2ee53e4a6ca901c203a3590b88_366x366.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Pesto</h5>
                            <p class="card-text">Price, info</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://dodopizza-a.akamaihd.net/static/Img/Products/87428dc1410f4688b2fa4739a077f73c_366x366.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Carbonara</h5>
                            <p class="card-text">Price, info</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="card collapseItem">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn-block text-left collapsed foodbtn" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Sushi
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">

                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/9d4bb29551bd0fa9093dd90d03eec1ec-450x300.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Bomb Platter</h5>
                            <p class="card-text">Price, info</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/3813301/9f999b75f4cf1949b1cce9b47e8bf00e-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Fusion Platter</h5>
                            <p class="card-text">Price, info</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/47c2fc42cde0e482038084141c1ce469-450x300.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Favorite Platter</h5>
                            <p class="card-text">Price, info</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/3538649/d75a67cc2591d6c4b9fef46d9bbec9b6-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Two Way platter</h5>
                            <p class="card-text">Price, info</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section 2 -->

<section class="center">
    <h2 class="title">Healthy food</h2>
    <div class="accordion" id="accordionExample">
        <div class="card collapseItem">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn-block text-left foodbtn" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapseOne">
                        Salad
                    </button>
                </h2>
            </div>

            <div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/79a4d51a674d8c4bdb2f1ff0b7c40f1f-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Caesar</h5>
                            <p class="card-text">Price, info</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/4ec266ab5616f51e0cb36348888e8e2d-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Greek</h5>
                            <p class="card-text">Price, info</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/2d2f8707083e9b21d39eb3c2f8425889-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Nicoise</h5>
                            <p class="card-text">Price, info</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card collapseItem">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn-block text-left collapsed foodbtn" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapseTwo">
                        Soup
                    </button>
                </h2>
            </div>
            <div id="collapse4" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/70c76c68ce177ecd6dbcab5546efda53-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Tom Yam</h5>
                            <p class="card-text">Price, info</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/38ef89fad30b389a37934061e57f6606-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Broccoli cream soup</h5>
                            <p class="card-text">Price, info</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/d1ed47e0a023cdd0c0e0ebcc62968b4b-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Borsch</h5>
                            <p class="card-text">Price, info</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card collapseItem">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn-block text-left collapsed foodbtn" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapseThree">
                        Dishes
                    </button>
                </h2>
            </div>
            <div id="collapse5" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">

                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1387779/ce61b9eadf1d0a26d6856c1841858b45-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Fried dumplings</h5>
                            <p class="card-text">Price, info</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1370147/e8fa4941298f1e3cc4b4589e4d48ad09-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Khachapuri</h5>
                            <p class="card-text">Price, info</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/9a6dd4181d20cc246ccfe92af033a81f-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Rustic potatoes</h5>
                            <p class="card-text">Price, info</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="card collapseItem">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn-block text-left collapsed foodbtn" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapseThree">
                        Pasta
                    </button>
                </h2>
            </div>
            <div id="collapse6" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">

                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/f3d3b7ee913b0bd713859e0489871fbb-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Bolognese</h5>
                            <p class="card-text">Price, info</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/610d3ea5c11281540a162462bb07cd8e-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Fettuccine</h5>
                            <p class="card-text">Price, info</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/dd188214c9b32e451650685dc112d233-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Carbonara</h5>
                            <p class="card-text">Price, info</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

</body>

</html>