.center{
    margin: 2% 5%;
    text-align: center;
}
.nav-item{
    font-size: 1.2rem;
    margin-left: 1.2rem;
}
.navbar-brand{
    font-size: 1.5rem;
}
.navbar-text{
    font-size: 1.1rem;
    margin-left: 1.2rem;
}
.card{
    display: inline-block;
    margin-top: 1%;
}
.card-img-top{
    height: auto;
}
.takeOrderbtn{
    background-color: #aca1ff;
    color: #332a78;
    border-radius: 10%;
    padding: 2%;
}
.takeOrderbtn:hover{
    text-decoration: none;
    color: #332a78;
    background-color: #9b8dfc;
}

.collapseItem{
    display: block;
}
.foodbtn{
    border: none;
    background-color: #f2f2f2;
}
.card-header{
    background-color: #f2f2f2;
}